<div class="text-gb-lighter bg-gb-dark min-h-screen p-4">
    <div class="container mx-auto">
      <h1 class="text-3xl font-bold text-center mb-8 uppercase text-gb-lighter">Pokedex</h1>
      
      <div *ngIf="pokemons.length > 0 && !isLoading" class="card-grid">
        <app-card 
          *ngFor="let pokemon of pokemons" 
          [pokemon]="pokemon">
        </app-card>
      </div>
      
      <div *ngIf="isLoading" class="text-center text-gb-lighter py-20">
        <p class="text-xl">Cargando pokémon...</p>
      </div>
  
      <!-- Controles de Paginación -->
      <div *ngIf="pokemons.length > 0 && !isLoading" class="pagination-container">
        <div class="pagination-controls">
          <button 
            (click)="previousPage()" 
            [disabled]="currentPage === 1"
            class="pagination-button">
            Anterior
          </button>
          
          <button 
            *ngFor="let page of pages"
            (click)="onPageChange(page)"
            [class.active]="currentPage === page"
            class="pagination-number">
            {{ page }}
          </button>
          
          <button 
            (click)="nextPage()" 
            [disabled]="currentPage === totalPages"
            class="pagination-button">
            Siguiente
          </button>
        </div>
        
        <p class="pagination-info">
          Página {{ currentPage }} de {{ totalPages }} - Total: 151 pokémon
        </p>
      </div>
    </div>
  </div>
  